{% load static %}

{% comment %} 
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="{%static 'images/slider-img1.jpg'%}" height="500px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{%static 'images/slider-img2.jpg'%}" height="500px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/slider-img3.jpg'%}" height="500px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> {% endcomment %}

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="{%static 'images/slider-img1.jpg'%}" height="500px" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5 class="animate__animated animate__fadeInDown">Shop the Latest Trends:</h5>
          <p class="animate__animated animate__fadeInUp"> Discover Our New Arrivals</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{%static 'images/slider-img2.jpg'%}" height="500px" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5 class="animate__animated animate__fadeInDown">Best Sellers: </h5>
          <p class="animate__animated animate__fadeInUp">Shop Our Most Popular Products</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/slider-img3.jpg'%}" height="500px" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5 class="animate__animated animate__fadeInDown">Treat Yourself:</h5>
          <p class="animate__animated animate__fadeInUp">Shop Our Luxury Items</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  


