{%include 'store/layouts/main.html' %}
{% load static %}

{% block content %}

<div class="py-3 bg-dark">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a  class="text-white"  href="{% url 'collections' %}">collections</a>
    </div>

</div>
<div class="py-5">
<div class="container">
    <div class="row">
        <div class="section-title">
            <img src="{% static 'images/logo.png' %}" height="50px" width="50px" alt="logo">
        <h1>Collections</h1>
        </div>
        <hr>
        <div class="row">
            {% for item in category%}

            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'collectionsviews' item.slug %}">
                    <div class="card-body">
                        <div class="category-image">
                            <img src = "{{ item.image.url}}" alt = "Category Image" class="w-100" height="250px"/>
                        </div>
                        <h4 class="text-center"> {{ item.name}} </h4>
                    </div>
                </a>
                </div>
            </div>

            {% endfor %}
    </div>
</div>
</div>



    
{% endblock content %}
